@media screen and (min-width:750px){
    .gallery ul li{
        width: 48.245614%;
    }
    .port{
        height: 130vh;
    }
}
@media screen and (min-width: 1025px){
    .gallery ul li {
        width: 31.245614%;
    }
    .gallery {
        height: 1010px;
    }    
    .port {
        height: 133vh;
    }
    .btns {
        width: 425px;
        transform: translateY(-70px);
    }
    .go-site {
        width: 200px;
        height: 35px;
    }
    .show-pro {
        width: 200px;
        height: 35px;
    }
}
@media screen and (min-width:1250px){
    .gallery {
        height: 1111px;
    }
    .port {
        height: 205vh;
    }
    .btns {
        width: 505px;
        transform: translateY(-80px);
    }
    .go-site {
        width: 240px;
        height: 40px;
    }
    .show-pro {
        width: 240px;
        height: 40px;
    }
}